/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&sk {
    release-after-ms = <750>;
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BSPC>;
};

#define BASE_L  0
#define SYM_L   1
#define NUM_L   2
#define NAV_L   3

#define CUT    LG(X)
#define COPY   LG(C)
#define PASTE  LG(V)

#define UNDO LG(Z)
#define REDO LS(LG(Z))

#define MEH(KEY) LS(LC(LA(LG(KEY))))

/ {
    macros {
        ZMK_MACRO(scope, wait-ms = <30>; tap-ms = <30>; bindings = <&kp COLON &kp COLON>;)
        ZMK_MACRO(lambda, wait-ms = <30>; tap-ms = <30>; bindings = <&kp L &kp A &kp M &kp B &kp D &kp A>;)
        ZMK_MACRO(mpaste, 
            bindings = 
                <&macro_press &kp LSHFT>,
                <&macro_tap &sk LCMD &kp V>,
                <&macro_pause_for_release>,
                <&macro_release &kp LSHFT>
            ;)
    };

    combos {
        compatible = "zmk,combos";

        #define COMBO(NAME, BINDINGS, KEYPOS, TIMEOUT) \
              combo_##NAME { \
                timeout-ms = <TIMEOUT>; \
                bindings = <BINDINGS>; \
                key-positions = <KEYPOS>; \
              };

        /*                KEY POSITIONS

          ╭────────────────────╮ ╭────────────────────╮
          │  0   1   2   3   4 │ │  5   6   7   8   9 │
          │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
          │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
          ╰───────╮ 30  31  32 │ │ 33  34  35 ╭───────╯
                  ╰────────────╯ ╰────────────╯        */

        COMBO(caps_word_left, &caps_word, 13 14, 60)
        COMBO(caps_word_right, &caps_word, 15 16, 60)

        COMBO(grave, &kp GRAVE, 1 2, 60)
        COMBO(colon, &kp COLON, 7 8, 60)
        COMBO(equal, &kp EQUAL, 21 22, 60)
        COMBO(semicolon, &kp SEMI, 27 28, 60)

        COMBO(minus, &kp MINUS, 31 34, 60)
        COMBO(underscore, &kp UNDER, 32 33, 60)
    };

    behaviors {
        lhm: left_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_POSITIONAL_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            global-quick-tap-ms = <100>;
            bindings = <&kp>, <&kp>;
            // hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33 34 35>;
            // hold-trigger-key-positions = <5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 25 26 27 28 29 30 31 32 33 34 35>;
        };

        rhm: right_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_POSITIONAL_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            global-quick-tap; //-ms = <100>;
            bindings = <&kp>, <&kp>;
            // hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35>;
            // hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 16 17 18 19 20 21 22 23 24 30 31 32 33 34 35>;
        };

        blt: base_layer_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "BASE_LAYER_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            global-quick-tap; //-ms = <100>;
            bindings = <&mo>, <&kp>;
        };

        rpt_lt: repeat_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "REPEAT_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            global-quick-tap;
            bindings = <&mo>, <&key_repeat>;
        };

        lh: long_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LONG_HOLD";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;
            bindings = <&bt>, <&trans>;
        };
    };

	keymap {
		compatible = "zmk,keymap";

		/*&                                                                                 |                                                                                  &*/
        base_layer {
			bindings = <
                   &kp Q        &kp W         &kp F              &kp P              &kp G              &kp J              &kp L               &kp U                 &kp Y         &kp APOS
                   &kp A        &lhm LCMD R   &lhm LSHFT S       &lhm LCTRL T       &lhm LALT D        &rhm RALT H        &rhm LCTRL N        &rhm RSHFT E          &rhm RCMD I   &kp O
                   &kp Z        &kp X         &kp C              &kp V              &kp B              &kp K              &kp M               &kp COMMA             &kp DOT       &kp FSLH
				 /*&            &*/           &blt NAV_L TAB     &blt SYM_L SPC     &blt NUM_L ESC     &blt NUM_L DEL     &blt SYM_L BSPC     &blt NAV_L RET   /*&             &*/
			>;
		};

        /*&                                                                                 |                                                                                  &*/
		sym_layer {
			bindings = <
                   &kp APOS     &kp LT        &kp GT        &kp DQT            &kp AMPS           &kp SEMICOLON       &kp DOT          &kp LBRC                 &kp RBRC      &kp PRCNT
                   &kp EXCL     &kp MINUS     &kp PLUS      &kp EQUAL          &kp PIPE           &kp COLON           &kp HASH         &kp LPAR                 &kp RPAR      &kp AT
                   &kp CARET    &kp FSLH      &kp STAR      &kp BSLH           &kp TILDE          &kp UNDERSCORE      &kp DLLR         &kp LBKT                 &kp RBKT      &kp QMARK
				 /*&            &*/           &trans        &trans             &trans             &trans              &trans           &trans                 /*&             &*/
			>;
		};

		num_layer {
			bindings = <
                   &trans       &kp F7        &kp F8        &kp F9             &kp F10            &kp FSLH            &kp N7           &kp N8                   &kp N5        &kp STAR
                   &trans       &kp F4        &kp F5        &kp F6             &kp F11            &kp EQUAL           &kp N4           &kp N5                   &kp N4        &kp MINUS
                   &trans       &kp F1        &kp F2        &kp F3             &kp F12            &kp DOT             &kp N1           &kp N2                   &kp N3        &kp PLUS
				 /*&            &*/           &trans        &trans             &trans             &trans              &trans           &kp N0                 /*&             &*/
			>;
		};

		nav_layer {
			bindings =  <
                   &trans       &trans        &bt BT_PRV    &bt BT_NXT         &trans             &kp PG_UP           &trans           &kp UP                   &trans        &kp HOME
                   &trans       &sk LGUI      &sk LSHFT     &sk LCTRL          &sk LALT           &kp PG_DN           &kp LEFT         &kp DOWN                 &kp RIGHT     &kp END
                   &lh BT_CLR   &kp CUT       &kp COPY      &kp PASTE          &mpaste            &kp REDO            &kp UNDO         &trans                   &trans        &trans
				 /*&            &*/           &trans        &trans             &trans             &trans              &trans           &trans                 /*&             &*/
			>;
		};
	};
};
